/* Colours/Gradients */
$darkgrey: rgba(0, 0, 0, 0.25);
$wrengreen: #27ae60;
$white: white;
$webkit-linear-gradient: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
$linear-gradient: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);

$min-width: 7%;
$auto: auto;
$ease-in-out: all .4s ease-in-out;
$form-container-border: 1px solid #ddd;
$fit-content: fit-content;