.homepage-links {
  margin-top: 20rem;
  margin-bottom: 31.5rem;
}

.hp-nav{
  border:1px solid #ccc;
  border-width:1px 0;
  list-style:none;
  margin:0;
  padding:0;
  text-align:center;
}
.hp-nav li{
  display:inline;
}
.hp-nav a{
  display:inline-block;
  padding:10px;
}

.jumbotron {
  background-color: transparent;
}