form.form-message {
  padding: 10px;
  border-radius: 15px;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(0,0,0,0.4);
}

.message-page{
  height: 100%;
  margin: 0;
  background: #7F7FD5;
  background: $webkit-linear-gradient;
  background: $linear-gradient;
}

.msg-type {
  background-color: $darkgrey;
  border:0;
  border-radius: 15px;
  color:white;
  height: 60px;
  overflow-y: $auto;
}

.msg-type:focus{
  box-shadow: none;
  outline: 0;
}

.msg-head {
  text-align: center;
  color: white;
}