button.message-send {
  margin-left: $auto;
  margin-right: $auto;
  width: 30%;
  max-width: $fit-content;
}

button.message-send:hover {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background: $wrengreen;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  -o-transition: $ease-in-out;
  -webkit-transition: $ease-in-out;
  transition: $ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  -o-transition: $ease-in-out;
  -webkit-transition: $ease-in-out;
  transition: $ease-in-out;
}

.btn-hover:focus {
  outline: black;
}